# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\_gitProjects\array-converter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
